@using ECommerceLabb.Services
@using ECommerceLabb.Models;
@page "/customers"
@inject CustomerService CustomerService

<PageTitle>Customers</PageTitle>

<h3>Customers</h3>

@if (customers == null)
{
	<p>Loading...</p>
}
else
{
	<ul>
		@foreach (var customer in customers!)
		{
			<li>Full name: @customer.FirstName @customer.LastName</li>
			<li>Email: @customer.Email</li>
			<li>Address: @customer.Address</li>
			<li>Phone number: @customer.PhoneNumber</li>
			<hr />
		}
	</ul>
}

@code {
	private List<Customer>? customers;

	protected override async Task OnInitializedAsync()
	{
		customers = await CustomerService.GetCustomersAsync();
	}
}
